/* AddTaskForm.css */

/* Container for the add task form */
.add-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    /* Center the form horizontally */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

/* Form fields */
.add-task-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.add-task-container input[type="text"],
.add-task-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
}

/* Submit button */
.add-task-container button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 5rem;
    
}

/* Hover effect for the submit button */
.add-task-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .add-task-container {
        width: 100%;
        padding: 10px;
    }
}